.card-img-overlay {
    color: var(--darker);
}

.name-bt  {
    float: inline-start;
}

.git-bt {
    float: inline-end
}

.btn:hover {
    color: var(--darker);
    background-color: var(--accent);
    padding: 1px 10px 1px 10px;
}

.card-body {
    background-color: var(--light);
}

.card-body, a {
    color: var(--darker);
}

