header {
    height: 150px;
    position: realtive;
    background-color: var(--darker);
}

header h1 {
    font-size: 4rem;
    letter-spacing: 0.2rem;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

