main h2 {
    font-size: 2.5rem;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-style: italic;
}

/* About Page */
.fa-user-circle {
    font-size: 6rem;
    color: #fff;
}

/* Portfolio Page */

/* Contact Page */
.form {
    margin-left: 10rem;
    margin-right: 10rem;
}

form .submit:hover {
    background-color: var(--accent);
    color: var(--darker)
}

/* Resume Page */
.skills .list-group-item {
    background-color: var(--accent-light);
    color: var(--darker);
    border: none;
}

.end-title {
    text-align: center;
}

div .row {
    margin-left: 2rem;
    margin-right: 3rem;
}

.list-group {
    text-align: center;
}