* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: #E8EAED;
  --dark: #AAAEA4;
  --darker: #3A372C;
}

html, body {
  min-height: 100%;
} 

.wrapper {
  background-color: var(--light);
  color: var(--darker);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}

main {
  min-height: calc(100vh - 250px);
}

a {
  text-decoration: none;
  color: var(--darker);
}

h1 {
  font-family: 'Bricolage Grotesque', sans-serif;
}