* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: #d8dee9;
  --dark: #8f84ae;
  --darker: #5b618a;
  --accent: #fff585;
  --accent-dark: #32a387;
}

html, body {
  min-height: 100%;
} 

.wrapper {
  background-color: var(--dark);
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}

main {
  min-height: calc(100vh - 250px);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

a, li {
  color: var(--light);
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

a:hover, li:hover {
  opacity: 1;
  color: var(--accent);
  padding: 0 5px;
}

h1, h2 {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-style: italic;
  color: #fff585;
}

.col .card .card-img-overlay h3 {
  color: black;
}